@charset "UTF-8";

html, body {
    font: 14px/18px normal sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 0;
    background-color: #005d31;
}

#crossroadPreview{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.roadH{
    width: 100vw;
    height: 20vmin;
    background-color: #909090;
    position: absolute;
    top: 40vmin;
    left: 0;
}
.roadV{
    width: 20vmin;
    height: 100vh;
    background-color: #909090;
    position: absolute;
    top: 0;
    left: 45vmax;
}

.light{
    width: 54px;
    height: 160px;
    background-color: #060507;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
}

.lamp{
    height: 50px;
    width: 50px;
    margin: 2px;
    border-radius: 50px;
    float: left;
    visibility: hidden;
}

.lampOn{
    visibility: visible;
}

.red {
    background-color: #d73400;
}

.green {
    background-color: #00a32b;
}

.yellow {
    background-color: #f1e300;
}

#light1{
    top: 20vmin;
    left: 40vmax;
}

#light2{
    top: 61vmin;
    left: 56vmax;
}

#light3{
    height: 54px;
    width: 165px;
    top: 61vmin;
    left: 34vmax;
}

#light4{
    height: 54px;
    width: 165px;
    top: 32vmin;
    left: 56vmax;
}
